<!-- app/views/customer/reviews/index.html.erb -->
<div class="dashboard-container">
  <div class="absolute top-20 right-60 p-4">
    <%= link_to 'Create New Service', new_seller_service_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-block transition duration-300 ease-in-out transform hover:-translate-y-1' %>
  </div>
  <div class="p-8" data-controller="rating">
    <div class="mb-4">
      <button data-action="click->rating#reviewed" class="btn btn-primary mr-2">Reviews</button>
      <button data-action="click->rating#pendingReviews" class="btn btn-primary">Pending reviews</button>
    </div>
    <div id="pending_reviews" class="booking-table">
      <%= turbo_stream.append "pending_reviews" do %>
        <%= render partial: 'service_without_reviews', locals: {  booked_services_without_reviews:  @booked_services_without_reviews} %>
      <% end %>
    </div>
    <div id="my_reviews" class="booking-table" style="display: none;">
      <%= turbo_stream.append "my_reviews" do %>
        <%= render partial: 'service_with_reviews', locals: { services_with_reviews: @services_with_reviews } %>
      <% end %>
    </div>
  </div>
</div>
