<!-- app/views/customer/reviews/new.html.erb -->

<h2 class="text-2xl font-semibold mb-4">Write a Review for <%= @service.title %></h2>

<%= form_with(model: [@service, @review], url: customer_reviews_path(service_id: @service.id), method: :post) do |form| %>
  <div class="mb-4">
    <%= form.label :rating, "What's your overall rating?" %>
      <div class="rating">
        <%= form.collection_radio_buttons(:rating, [[5],[4],[3],[2],[1]], :first, :last) do |star| %>
          <%= star.radio_button %>
          <%= star.label(class: "text-white") %>
        <% end %>
      </div>
  </div>

  <div class="mb-4">
    <%= form.label :comment, class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= form.text_area :comment, rows: 4, class: 'form-input w-full mt-2 rounded-md shadow-sm' %>
  </div>

  <div class="mb-4">
    <%= form.submit 'Submit Review', class: 'bg-blue-500 text-white px-4 py-2 rounded' %>
  </div>
<% end %>
