<!-- app/views/admin/services/_service_form.html.erb -->
<%= form_with(model: service, url: update_status_admin_service_path(service), method: :put, remote: true, class: 'max-w-md mx-auto bg-white p-8 border rounded shadow-md') do |f| %>
  <div class="mb-4">
    <%= f.label :status, class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= f.select :status, options_for_select(['Pending', 'Approved', 'Rejected'], selected: service.status), class: 'w-full p-2 border rounded' %>
  </div>

  <div class="mb-4">
    <%= f.label :comment, class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= f.text_area :comment, placeholder: 'Enter additional comments', class: 'w-full p-2 border rounded' %>
  </div>

  <div class="flex items-center justify-between">
    <%= f.submit 'Update', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer' %>
  </div>
<% end %>
