<nav class="w-64 bg-[#030637] h-full p-4 sidebar-heading">
  <div class="mb-6 text-center">
    <%= link_to root_path do %>
      <%= image_tag('logo-home.svg', class: 'mx-auto h-5') %>
    <% end %>
  </div>
  <ul class="space-y-4 pt-9">
     <li>
      <%= link_to customer_dashboard_index_path, class: 'flex items-center py-2 px-4 text-white hover:bg-gray-700 focus:bg-gray-700 focus:outline-none', id: 'service-requests-link' do %>
        <i class="fas fa-th-large text-lg mr-2"></i>
        Dashboard
      <% end %>
    </li>
    <li>
      <%= link_to customer_bookings_path, class: 'flex items-center py-2 px-4 text-white hover:bg-gray-700 focus:bg-gray-700 focus:outline-none', id: 'service-requests-link' do %>
        <i class="fas fa-check-circle text-lg mr-2"></i>
        Booked Services
      <% end %>
    </li>
    <li>
      <%= link_to customer_reviews_path, class: 'flex items-center py-2 px-4 text-white hover:bg-gray-700 focus:bg-gray-700 focus:outline-none', id: 'service-requests-link' do %>
        <i class="fas fa-clipboard-list text-lg mr-2"></i>
        Reviews
      <% end %>
    </li>
  </ul>
</nav>
