
<nav class="w-64 bg-[#030637] h-full p-4 pt-30">
  <!-- Logo -->
  <div class="mb-6 text-center">
    <%= link_to root_path do %>
      <%= image_tag('logo-home.svg', class: 'mx-auto h-5') %>
    <% end %>
  </div>
  <ul class="space-y-4">
    <li>
      <%= link_to seller_services_path, class: 'flex items-center py-2 px-4 text-white hover:bg-gray-700 focus:bg-gray-700 focus:outline-none', id: 'service-requests-link' do %>
        <i class="fas fa-tools text-lg mr-2"></i>
        Services
      <% end %>
    </li>
    <li>
      <%= link_to seller_bookings_path , class: 'flex items-center py-2 px-4 text-white hover:bg-gray-700 focus:bg-gray-700 focus:outline-none', id: 'approved-requests-link' do %>
        <i class="fas fa-check-circle text-lg mr-2"></i>
        Bookings
      <% end %>
    </li>
    <li>
      <%= link_to '#', class: 'flex items-center py-2 px-4 text-white hover:bg-gray-700 focus:bg-gray-700 focus:outline-none', id: 'all-services-link' do %>
        <i class="fas fa-list-alt text-lg mr-2"></i>
        All Services
      <% end %>
    </li>
    <!-- Add more options as needed -->
  </ul>
</nav>
