<div class="container mx-auto p-4">
  <%= form_with(model: @category, url: admin_categories_path, method: :post, class: 'max-w-md mx-auto bg-white p-8 border rounded shadow-md') do |form| %>

    <% if @category.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
        <h2 class="text-sm font-semibold"><%= pluralize(@category.errors.count, 'error') %> prohibited this category from being saved:</h2>
        <ul class="list-disc list-inside">
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :name, class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.text_field :name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <div class="mb-6">
      <%= form.submit "Save", class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
    </div>

  <% end %>
</div>
